input[type=checkbox], input[type=radio] { border:none !important }

body{
    padding : 0;
    margin : auto 0;
    font-family: 'Noto Serif KR', serif;
}

#root{
    text-align: center;
    font-family: 'Noto Serif KR', serif;
}

#title_div{
    margin-top : 40px;
    font-size: 25px ;
    color:#3f79c1;
}

.underline{
    width : 500px;
    border-bottom: 0px;
    text-align: center;
    margin-bottom: 15px;
}

#todoList{
    margin-left: auto;
    margin-right: auto;
}

.input_class{
    font-family: 'Noto Serif KR', serif;
    font-size: 20px;
    width: 400px;
    height: 40px;
}

#addTodo_textBox{
    width: 450px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Noto Serif KR', serif;
    border:none;
}
#addTodo_textBox:hover{
    background-color:#d7d8d8;
    border-radius: 10px;
}

#check_box{
    height: 40px;
    width: 40px;
    font-size: 30px;
}

#addTodo_button{
    font-size: 20px;
    height: 39px;
    width: 39px;
    font-family: 'Noto Serif KR', serif;
    font-weight: 1000;
    background-color:#3f79c1;
    color:white;
    border:none;
    border-radius:10px;
}

#todoList_wrap{
    margin-bottom : 18px;
}