<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.TodoMapper">

    <resultMap id="todo_map" type="com.example.model.vo.TodoVO">
        <id property="id" column="todo_id"/>
        <id property="content" column="content"/>
        <id property="is_done" column="is_done"/>
    </resultMap>

    <insert id="addTodo" parameterType="java.lang.String" >
        INSERT INTO todo_tb (content) VALUES (#{content});
    </insert>

    <select id="getTodoList" resultMap="todo_map">
        SELECT todo_id, content, is_done FROM todo_tb WHERE is_deleted = 'N';
    </select>

    <update id="close_todo" parameterType="int">
        UPDATE todo_tb set is_done = 'Y' WHERE todo_id = #{id};
    </update>

    <update id="open_todo" parameterType="int">
        UPDATE todo_tb set is_done = 'N' WHERE todo_id = #{id};
    </update>

    <update id="del_todo" parameterType="int">
        UPDATE todo_tb set is_deleted = 'Y' WHERE todo_id = #{id};
    </update>

</mapper>