<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.TodoMapper">

    <resultMap id="todo_map" type="com.example.model.vo.TodoVO">
        <id property="id" column="todo_id"/>
        <id property="content" column="content"/>
        <id property="is_done" column="is_done"/>
    </resultMap>

    <insert id="addTodo" parameterType="java.lang.String" >
        INSERT INTO todo_tb (content) VALUES (#{content});
    </insert>

    <select id="getTodoList" resultMap="todo_map">
        SELECT todo_id, content, is_done FROM todo_tb WHERE is_deleted = 'N';
    </select>

<!--    <select id="searchTopKeywords" resultType="java.lang.String">-->
<!--        SELECT ke_name, SUM(view_cnt) AS view_cnt FROM keyword_tb AS SUB1-->
<!--        JOIN(SELECT ke_code, ar_code FROM article_key_tb) AS SUB2-->
<!--        ON(SUB1.ke_code = SUB2.ke_code)-->
<!--        INNER JOIN(SELECT ar_code, view_cnt AS view_cnt FROM article_tb) AS SUB3-->
<!--        ON(SUB2.ar_code = SUB3.ar_code)-->
<!--        GROUP BY(ke_name)-->
<!--        ORDER BY view_cnt DESC-->
<!--        limit #{limit};-->
<!--    </select>-->

</mapper>